# Compiled source #
###################
*.class

# For STS/Eclipse #
###################
.classpath
.project
.settings

# Maven #
###################
target

# For Mac OS X #
###################
.DS_Store

# Logging #
###################
*.log